.header {
  background-color: #192027;
  color: white;
  padding: 15px 20px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-size: 24px;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .app-name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-links li a {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .app-name {
    font-size: 18px;
  }

  .nav-links li a {
    font-size: 14px;
    padding: 6px 10px;
  }
}
